@charset "UTF-8";
:root {
  /*   Цветовая палитра  */
  --bakrnd-color-first: #E5E5E5;
  --bakrnd-color-second: #F5F4FA;
  --footer-color: #2F303A;
  --text-color-first: #757575;
  --text-color-tittle: #212121;
  --text-color-footer: rgba(255, 255, 255, 0.6);
  --text-banner-color: #FFFFFF;
  --accent-color: #2196F3;
  /*Шрифты */
  --first-font: "Roboto";
  --logo-font: "Raleway";
  /* Функции */
  --transition-duration: 250ms;
  --time-funcsion: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: var(--text-color-tittle);
  text-decoration: none;
}
.link:hover, .link:focus, .link:active {
  color: var(--accent-color);
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--text-banner-color);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  fill: #000000;
  background-color: rgb(255, 255, 255);
  transition: fill var(--animation-time);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  display: block;
}

.title-modal {
  font-size: 20px;
  text-align: center;
  color: var(--text-color-tittle);
  margin-bottom: 12px;
}

.label-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-first);
}

.form-fild {
  margin-bottom: 10px;
}

.modal-position-icon {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--animation-time);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation-time);
  cursor: pointer;
}
.form-input:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.form-input:focus-within + .modal-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.label-title-comment {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-first);
  margin-bottom: 4px;
}

.label-comment {
  display: block;
  margin-bottom: 20px;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation-time);
}
.comment:focus-within {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-first);
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 4px;
  transition: background-color var(--animation-time), outline var(--animation-time);
}
.form-accept:checked + .checkbox-icon {
  background-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px 10px 55px;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-banner-color);
  border: 0;
  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contract {
  color: var(--accent-color);
}

.title {
  color: var(--text-color-tittle);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.portfolio-header {
  border: 1px solid #ECECEC;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--text-color-first);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.main {
  line-height: 1.71;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-time);
}
.header-list__link.current {
  color: var(--accent-color);
}
.header-list__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms var(--time-funcsion);
}
.header-list__link.current::after {
  opacity: 1;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  align-self: flex-end;
  height: 80px;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  justify-content: center;
}
.header-list .header-list__item {
  margin-right: 50px;
  fill: #afb1b8;
}
.header-list .header-list__item:last-child {
  margin-right: 0px;
}

.contakts {
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color var(--animation-time);
  color: var(--text-color-first);
  height: 16px;
  gap: 10px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  margin-right: 93px;
  width: 145px;
  height: 31px;
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--text-color-tittle);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.footer-logo {
  padding: 0;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--text-banner-color);
  font-style: normal;
  line-height: 1.71;
}

.footer-link {
  display: inline-block;
  margin-top: 9px;
  color: var(--text-color-footer);
  transition: color var(--animation-time);
}

.logo-studio-footer {
  color: var(--bakrnd-color-first);
}

.footer-social-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
}

.footer-contacts {
  display: inline-block;
  padding-right: 70px;
}

.social-footer {
  display: inline-block;
  width: 206px;
  height: 80px;
}

.footer-social {
  display: flex;
  padding-bottom: 30px;
  padding-left: 0px;
  justify-content: center;
}

.team-social__link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation-time);
}
.team-social__link-footer:hover, .team-social__link-footer:focus {
  color: #EEEEEE;
  background-color: var(--accent-color);
}

.team-social__item {
  display: flex;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__img {
  fill: currentColor;
}

.footer-form-container {
  margin-left: 93px;
}

.footer-form {
  display: flex;
  margin-right: 0;
}

.footer-form-fild {
  display: flex;
  margin-bottom: 0px;
}

.footer-subscribe {
  width: 358px;
  height: 50px;
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-right: 5px;
  padding-left: 16px;
  color: var(--text-banner-color);
  transition: border var(--animation-time);
}
.footer-subscribe:focus {
  transition: border var(--animation-time);
}
.footer-subscribe::placeholder {
  width: 47px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.button-footer {
  position: relative;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-banner-color);
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.banner__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--text-banner-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.banner__button {
  display: block;
  font-family: var(--first-font);
  color: var(--text-banner-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: color var(--animation-time);
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-color);
}

.techology {
  padding-top: 94px;
  padding-bottom: 94px;
}

.technology-title {
  display: none;
}

.technology-list__item {
  width: 270px;
}
.technology-list__item:not(:first-child) {
  margin-left: 30px;
}

.techology-list {
  display: flex;
  padding: 0;
}

.technology-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bakrnd-color-second);
  margin-bottom: 30px;
}

.technology-list__title {
  margin-bottom: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  transition: color var(--animation-time);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #afb1b8;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  transition: border var(--animation-time);
}
.clients-list__link:hover svg, .clients-list__link:focus svg {
  fill: currentColor;
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196F3;
  fill: currentColor;
}

.clients-list__item {
  height: 92px;
  width: 170px;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill var(--animation-time);
}
.clients-list__icon:hover, .clients-list__icon:focus {
  fill: currentColor;
}

.works {
  padding-bottom: 94px;
}

.works-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.works-title {
  margin-bottom: 50px;
}

.works-list__img,
.team-list__img,
.portfolio-list__img {
  display: block;
}

.works-list__item {
  position: relative;
}

.works-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-list__description {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-banner-color);
  margin: 0;
}

.team {
  background-color: var(--bakrnd-color-second);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}

.team-list__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:first-child) {
  margin-left: 30px;
}

.team-title,
.clients-title {
  margin-bottom: 50px;
}

.team-title,
.works-title,
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-worker {
  background: var(--text-banner-color);
  padding: 30px 0px;
}

.team-worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.team-worker__descr {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.team-social {
  display: flex;
  padding-top: 16px;
  padding-left: 0px;
  justify-content: center;
}

.team-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: background-color var(--animation-time), color var(--animation-time);
}
.team-social__link:hover, .team-social__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-social__item {
  display: flex;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__img {
  fill: currentColor;
}

.portfolio-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list__title {
  color: var(--text-color-tittle);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-title {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list__descript {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-list__text {
  color: var(--text-color-first);
  font-size: 16px;
  line-height: 1.86;
}

.portfolio-menu {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: var(--first-font);
  color: var(--text-color-tittle);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--time-funcsion), color var(--transition-duration) var(--time-funcsion), box-shadow var(--transition-duration) var(--time-funcsion);
}
.portfolio-menu:hover, .portfolio-menu:focus {
  color: var(--text-banner-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list__container {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-content: space-between;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--animation-time);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__slider_text {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px 63px 24px;
  margin: 0;
}

.portfolio-list__slider {
  position: absolute;
  bottom: -1%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__slider {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */