@import './utils/variables';
@import './utils/visually-hidden';
@import'./utils/mixin';

@import './components/link';
@import './components/modal-window';
@import './components/title';
@import './components/portfolio-header';
@import './components/mobile-menu';


@import './base/common.scss';
@import './base/container';


@import './layout/header';
@import './layout/footer';
@import './layout/banner';
@import './layout/techology';
@import './layout/clients';
@import './layout/works';
@import './layout/team';
@import './layout/portfolio-works';
