

.portfolio-works {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list__title {
    color: var(--text-color-tittle);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-title {
    display: none;
}

.menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.portfolio-list__descript {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}


.portfolio-list__text {
    color: var(--text-color-first);
    font-size: 16px;
    line-height: 1.86;
}


.portfolio-menu {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    font-family: var(--first-font);
    color: var(--text-color-tittle);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--time-funcsion),
        color var(--transition-duration) var(--time-funcsion),
        box-shadow var(--transition-duration) var(--time-funcsion);

    &:hover,
    &:focus {
            color: var(--text-banner-color);
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }

    }

.menu-list__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list__container {
    position: relative;
    overflow: hidden;
}



.portfolio-list {
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-list__link {
    display: block;
    transition: box-shadow var(--animation-time);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

}


.portfolio-list__slider_text {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px 63px 24px;
    margin: 0;
}

.portfolio-list__slider {

    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .portfolio-list__link:hover & {
            transform: translateY(0);
        }
}
