.team {
    background-color: var(--bakrnd-color-second);
    padding: 60px 0px;
}

.team-title {
    text-align: center;
    @include font (700, 36px, 1.16, 0.03em);
    margin-bottom: 50px;
    color: var(-text-color-tittle);
    
    @media screen and (max-width: 1199px) 
    {
        @include font (700, 28px, 1.16, 0.03em);
        margin-bottom: 30px;
    }
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

        .team-list__img {
            display: block;
            max-width: 100%;
            height: auto;
        }

.team-list__item {
    width: 100%;
    left: 815px;
    top: 1632px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--text-banner-color);

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }

    
}
    
.team-worker {
        padding: 30px 0;
        text-align: center;
    }
         
.team-worker__name{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--text-color-tittle);
    }

.team-worker__descr {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        color: var(--secondary-text);
    }

.list-social {
        display: flex;
        align-items: center;
      
        }

.team-social {
    margin-top: 16px;
    padding: 0;
    justify-content: center;
    color: var(--text-banner-color);

}

.team-social__item {
   
    width: 44px;
    height: 44px;
}

.team-social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #ffffff;
         background-color: var(--accent-color);

    }
}

.team-social__img {
    fill: currentColor;
    
}

