.techology {
    padding-top: 60px;
    padding-bottom:  60px;
}
.techology-list{
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}
.technology-list__item {

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) {
        width: calc((100% - 30px)/2);
    }

    @media screen and (min-width:1200px) {
        width: calc((100% - 90px)/4);
    }
}

.technology-list__item {
    margin-bottom: 30px;
}
 .technology-list__icon {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 120px;
         border-radius: 4px;
         background-color: var(--bakrnd-color-second);
         margin-bottom: 30px;       
}

.technology-list__title {
     text-align: center;
     margin-bottom: 10px;
    @media screen and (min-width:768px) {
        text-align: left;
    }


    }

    

// .techology {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .technology-title {
//     display: none;
// }
// .technology-list__item {
//     width: 270px;

//     &:not(:first-child) {
//         margin-left: 30px;
//     }
// }

// .techology-list {
//     display: flex;
//     padding: 0;
// }

// .technology-list__icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 270px;
//     height: 120px;
//     border-radius: 4px;
//     background-color: var(--bakrnd-color-second);
//     margin-bottom: 30px;
// }

// .technology-list__title {
//     margin-bottom: 10px;
// }


